.container {
    width: 80%;
    margin: auto;
    padding: 3rem 0;
}
li {
    list-style-type: none;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 10px;
    margin: 10px 0;
    width: 50%;
    cursor:pointer;
}
li:hover {
    background-color: rgb(174, 226, 176);
}
.btn-primary {
    margin-top: 10px;
}
